{% extends "base.html.twig" %}
{% block contents %}
<h1 class="experiment-title">
    Check-In for
    <q>{{ experiment.name }}</q>
</h1>
<form method="post">
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Expected outcome</th>
            <th scope="col">Value, right now</th>
        </tr>
        </thead>
        <tbody>
        {% for expectedOutcome in experiment.expectedOutcomes %}
            <tr>
                <td>{{ expectedOutcome.name }}<br><span class="experiment-transition">{{ expectedOutcome.currentValue }} ➟ {{ expectedOutcome.expectedValue }}</span> </td>
                <td>
                    <input title="Current value" type="text" name="outcome[{{ expectedOutcome.uuid }}]" class="form-control" />
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td>
                <button type="submit" class="btn btn-primary">Check in</button>
            </td>
        </tr>
        </tfoot>
    </table>
</form>
{% endblock %}
