<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Let's Experiment!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123956560-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123956560-1');
</script>
    </head>
    <body{% block body_attrs %}{% endblock %}>
        {% block body %}
        <div class="container letsexperiment-container">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="{{ path('home') }}">Let's Experiment!</a>

                <span class="navbar-text">
                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('logout') }}">Logout</a>
                    {% else %}
                        <a href="{{ path('login') }}">Login</a>
                    {% endif %}
                </span>
            </nav>
            {% block contents %}{% endblock %}
        </div>
        {% endblock %}
        {% block javascripts %}
        <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
